<div class="container">
    <div class="panel panel-default" data-ng-repeat="user in users" data-ng-hide="!activeUser"> 
        <div class="panel-heading" data-ng-hide="!activeUser.admin">
            Created by <var>{{activeUser.name===user ? 'me':user }}</var>
        </div>
        <ul class="list-group">
            <li class="list-group-item" data-ng-show="tasks.length==0">You have not created any task.</li>
            <li class="list-group-item" data-ng-repeat="task in tasks  | filter: { creator: { username: user} } track by task._id " data-ng-click="isOpen = !isOpen">
                <span class="glyphicon" data-ng-class="{'glyphicon-triangle-right':!isOpen,'glyphicon-triangle-bottom':isOpen}" aria-hidden="true"></span>
                <span class="list-group-item-heading">
                    {{task.task_name}}
                    <span class="pull-right label" data-ng-class="{'label-success':task.approval.approved,'label-danger':!task.approval.approved}">
                        {{task.approval.approved ? 'Approved' : 'Not approved'}}
                    </span>  
                </span>
                <div class="container-fluid list-group-item-text" style="border-top:" data-ng-show="isOpen">
                    <div class="row">
                        <div class="col-xs-6">
                        <h6><strong>Start date</strong><br/>{{toLocale(task.start_date)}}</h6>    
                        </div>
                        <div class="col-xs-6">
                        <h6><strong>End date</strong><br/>{{toLocale(task.end_date)}}</h6>    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                        Comments<br/>
                        <small>{{task.comments || '...'}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right" data-ng-show="activeUser.admin">
                            <button type="button" class="btn btn-success" data-ng-show="!task.approval.approved" data-ng-click="approve(true,task)">
                                <span class="glyphicon glyphicon-thumbs-up">
                                </span>
                            </button>
                            <button type="button" class="btn btn-default" data-ng-show="task.approval.approved" data-ng-click="approve(false,task)">
                                <span class="glyphicon glyphicon-thumbs-down">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="alert alert-danger col-xs-10 col-xs-offset-1" role="alert" data-ng-show="!activeUser">Please login to see the tasks.</div>
    
</div>
<button class="add-task" ui-sref="root.tasks.addtask" data-ng-hide="!activeUser">+</button>
